In [190]:
print('Q.1:- Create one variable containing following type of data:')

Q.1:- Create one variable containing following type of data:

In [191]:
print('ans')

ans

In [192]:
a = 'Tufail Khan'

In [193]:
type(a)

str

In [194]:
b = ('Tufail', 'Khan', 'Age', 22, 69.69j)

In [195]:
type(b)

tuple

In [196]:
print('Q.2:- Given are some following variables containing data, What will be the data type of the above given variable.')

Q.2:- Given are some following variables containing data, What will be the data type of the above given variable.

In [197]:
print('Ans')

Ans

In [198]:
var1 = ''

In [199]:
type(var1)

str

In [200]:
var2 = '[ DS , ML , Python]'

In [201]:
type(var2)

str

In [202]:
var3 = [ 'DS' , 'ML' , 'Python']

In [203]:
type(var3)

list

In [204]:
var4 = 1.

In [205]:
type(var4)

float

In [206]:
print('Q.3:- Explain the use of the following operators using an example:')

Q.3:- Explain the use of the following operators using an example:

In [207]:
print('Ans')

Ans

In [208]:
print('"/" This is used arithmetic operator used for division')

"/" This is used arithmetic operator used for division

In [209]:
100/4

25.0

In [210]:
print('"%" This is remainder operator (sub operator of arithmetic operator)this operator will give you the remainder value like 10 % 3 would be 1')

"%" This is remainder operator (sub operator of arithmetic operator)this operator will give you the remainder value like 10 % 3 would be 1

In [211]:
10%3

1

In [212]:
print('"//" This is floor division operator(sub operator of arithmetic operator) Performs division and rounds down to the nearest integer')

"//" This is floor division operator(sub operator of arithmetic operator) Performs division and rounds down to the nearest integer

In [213]:
10//3

3

In [214]:
print('"**" This is power operator or Exponentiation operator (sub operator of arithmetic operator)Raises the left operand to the power of the right operand')

"**" This is power operator or Exponentiation operator (sub operator of arithmetic operator)Raises the left operand to the power of the right operand

In [215]:
10**3

1000

In [216]:
print('Q.4:- Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type')

Q.4:- Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type

In [217]:
print('Answer')

Answer

In [218]:
a = ("Tufail","Khan", 1, 2, True, False, 6.09, 82.82j,['Tufail', 'Khan',], ['Comcpleting','Assignment'])

In [219]:
for x in a:
    print(x)

Tufail
Khan
1
2
True
False
6.09
82.82j
['Tufail', 'Khan']
['Comcpleting', 'Assignment']

In [220]:
type(a)

tuple

In [221]:
type("tufail")

str

In [222]:
type("Khan")

str

In [223]:
type(1)

int

In [224]:
type(2)

int

In [225]:
type(True)

bool

In [226]:
type(False)

bool

In [227]:
type(6.09)

float

In [228]:
type(82.82j)

complex

In [229]:
type(['Tufail', 'Khan'])

list

In [230]:
type(['Comcpleting','Assignment'])

list

In [231]:
print('Q.5:- Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible')

Q.5:- Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible

In [232]:
print("Answer")

Answer

In [233]:
a = 120
b = 5
x = 0

In [234]:
while a>=b:
    a -= b
    x += 1
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [235]:
print('Q.6:- Create a list containing 25 int type data. Using for loop and if-else condition print if the element isdivisible by 3 or not')

Q.6:- Create a list containing 25 int type data. Using for loop and if-else condition print if the element isdivisible by 3 or not

In [236]:
print('Answer')

Answer

In [237]:
x = [1,64,2,1,13,179,16,168,186,12,1,16,161,31,79,45,67,59,42,78,14,67,25,85,25]

In [238]:
for num in x:
    if num%3==0:
        print(num, "divisible by 3")
    else:
            print(num, "not divisible by 3")

1 not divisible by 3
64 not divisible by 3
2 not divisible by 3
1 not divisible by 3
13 not divisible by 3
179 not divisible by 3
16 not divisible by 3
168 divisible by 3
186 divisible by 3
12 divisible by 3
1 not divisible by 3
16 not divisible by 3
161 not divisible by 3
31 not divisible by 3
79 not divisible by 3
45 divisible by 3
67 not divisible by 3
59 not divisible by 3
42 divisible by 3
78 divisible by 3
14 not divisible by 3
67 not divisible by 3
25 not divisible by 3
85 not divisible by 3
25 not divisible by 3

In [239]:
print('Q7. What do you understand about mutable and immutable data types? Give examples for both showingthis property')

Q7. What do you understand about mutable and immutable data types? Give examples for both showingthis property

In [240]:
print('Answer')

Answer

In [241]:
print('Objects are those whose state or value can be changed after they are created is called mutable')

Objects are those whose state or value can be changed after they are created is called mutable

In [242]:
print('for eg:- ')

for eg:-

In [243]:
a = [1,2,3,4,]

In [244]:
a[2] = 5

In [245]:
a

[1, 2, 5, 4]

In [246]:
print('Objects are those whose state or value cannot be changed after they are created is called mutable')

Objects are those whose state or value cannot be changed after they are created is called mutable

In [247]:
print('for eg:- ')

for eg:-

In [248]:
b = ['Foxistan']

In [250]:
b

['Foxistan']

In [251]:
b[3] = p

NameError: name 'p' is not defined